/.venv
/10 putqas horas.xlsx
/20230529_base_vacaciones.xlsx
/BASE HORAS EXTRAS.xlsx
/base_vacaciones.xlsx
/calculo_vacaciones.ipynb
/Concat
/Ganter.xlsx
/horas_extra.ipynb
/Jefaturas Metro
/Jefaturas Metro.zip
/maria_hace_economia.py
/metria
/Panel Metro
/SALDOS VACACIONES CIERRE 042023.xlsx
/Vacaciones 2
/Vacaciones 3
/Vacaciones 4
/Vacaciones División Empresas (moving).xlsx
/Vacaciones División Empresas.xlsx
/vacaciones_calculadas.xlsx